body{
    font-family: "Zabal DEMO";
}

input[type="radio"] {   
    appearance: none;
    width: 12px;
    height: 12px;
    border: 3px solid #2F8D46;
    border-radius: 100%;
    background-color: transparent;
    transition: background-color 0.2s ease-in-out;
    margin-right: 8px;
}

input[type="radio"]:checked {
    background-color: #ffcc01;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 13vh;
    margin-top: 40px;
}

.rounded-corners {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px 50px;
    background: linear-gradient(135deg, #2F8D46 57%, #56C596 100%);
    padding: 25px; 
    width: 200px;
    height: 50px;
    font-size: x-large;
    margin-bottom: 40px; 
}

a{
    text-decoration: none;
}

.rectangle{
    width: 400px;
    height: 50px;
    background: linear-gradient(135deg, #2F8D46 65%, #56C596 100%);
    border-radius: 10px;
    color: blanchedalmond;
    font-size: medium;
    border: 1px solid #186e8a;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

.rectangle:hover{
    background: #2b7630;
}

.form-container {
    padding: 10px;
}

input[type="text"]{
    width: 100px;
    margin-right: 2px;
}

.form-label {
    margin-right: 5px;
}



input[type="text"],
input[type="number"],
input[type="submit"],
button {
    font-size: medium;
    margin-top: 15px;
    padding: 15px;
    margin-bottom: 10px;
    border: 2px solid #008cba;
    border-radius: 5px;
    background-color: #131417;
    color: blanchedalmond;
}

.form-label {
    margin-right: 5px;
}

input[type="submit"], button {
    background-color: #2F8D46;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #2b7630;
}

input[type="submit"].clicked {
    background-color: #2F8D46;
}

button:hover {
    background-color: #2b7630;
}

button.clicked {
    background-color: #2F8D46;
}

h4{
    font-weight: normal;
    color:dimgray;
}

p1{
    font-weight: normal;
    color:dimgray;
}

.forms-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #008cba;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
}

.form-container {
    padding: 10px;
    margin-bottom: 10px;
}

.buttons {
    display: flex;
    flex-wrap: nowrap; 
    flex-direction: column;
    align-items: center;
    gap: 75px;
    margin-top: 40px;
    margin-bottom: 100px;
}

.back-link {
  display: inline-block;
  color: #3b82f6;
  font-size: 1.1rem;
  font-weight: 500;
  text-decoration: none;
  margin: 15px 0;
  transition: color 0.3s ease, transform 0.2s ease;
}

.back-link:hover {
  color: #2563eb;
  text-decoration: underline;
  transform: translateX(-3px);
}

